/* AnalyticsPage.css */

.analytics-page {
  padding-top: 80px; /* Высота хедера + небольшой дополнительный отступ */
}

.charts-container {
  display: flex;
  justify-content: center; /* Выравниваем графики по центру горизонтально */
  align-items: center; /* Выравниваем графики по центру вертикально */
  flex-direction: column;
}

.chart {
  margin-right: 20px; /* Добавляем небольшой отступ между графиками */
}

.chart:last-child {
  margin-right: 0; /* Убираем отступ справа у последнего графика */
}
